* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;

}

form{
  display: flex;
  justify-content: center;
}

label{
  padding: 2px;
}

a:link {
  color: #034AA6;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #444359;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #034AA6;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #034AA6;
  text-decoration: underline;
}
#page {
  min-height: 100%;
  font-family: 'Patua One';
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

h1{
  padding-bottom: 5px;
  text-align:center;

}

h2{
  padding-top: 5px;
  padding-bottom:3px;
}

#section {
  overflow: auto;
  padding-bottom: 20px;

}

#input {
  padding: 20px;
  background-color: #DFE7F2;
}


#allArticles {
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: white;
}
#aticle {
  padding-bottom: 15px;
}
#resultsOfSearch {
  /*padding: 20px;*/
}


#footer {
  background-color: white;
  position: relative;
  height: 20px;
  margin-top: -20px;
  clear: both;
  /*width: 100%;*/
  text-align: center;

}
@media only screen and (max-width: 700px) {
  #page {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }


}

@media only screen and (min-width: 961px) {
  #page {
    margin-left: auto;
    margin-right: auto;
    width: 700px;

  }

}
